<?xml version="1.0"?>
<!--
  ~ Copyright (c) KozakGroup, Inc. 2020. All rights reserved.
  ~ Developed by Dmitry Draievskiy
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Head Title -->
        <add id="KozakGroup_UiGridForm::kozakgroup_uigridform"
             title="Ui Grid&amp;Form"
             module="KozakGroup_UiGridForm"
             sortOrder="10"
             parent="KozakGroup_Core::kozakgroup"
             resource="KozakGroup_UiGridForm::kozakgroup_uigridform"/>
        <!-- Sub-items -->
        <add id="KozakGroup_UiGridForm::kozakgroup_uigrid"
             title="Ui Grid"
             module="KozakGroup_UiGridForm"
             sortOrder="10"
             parent="KozakGroup_UiGridForm::kozakgroup_uigridform"
             action="kozakgroup_uigridform/record/list"
             resource="KozakGroup_UiGridForm::kozakgroup_uigrid"/>
    </menu>
</config>
